.narrative {  /* text of <p> element */
  font-family: Georgia;
  font-size: 17px;
}


.column { /* for main-content */
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large { /* for main-content */
  width: 630px;
}

.column.medium { /* for main-content */
  width: 300px;
}

.column.small { /* for main-content */
  width: 240px;
}


.image-content { /* for img comtaner */
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-align: center;
}


.fall-cancelled.image-content { /* large > "Earth Spins Backwards for 2017" img */
  background-image: url(../images/img-story-2.png);
}

.pop-culture.image-content { /* large > "Research Shows Cameras Erase Memory" img */
  background-image: url(../images/img-story-3.png);
}

.cat-ceo.image-content { /* madium > "Cats in Control-Is It a Thing?" */
        background-image: url(../images/img-story-1.png);
}

.stories { /* stories conteiner */

}

.story { /* story property in one column */

}


.stories .text-content { /* height conteiner in one column */

}

.news-bites h3 { /* third column header */
    margin-bottom: 41px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.news-bites .bite { /* third column under header */
    display: block;
    padding: 11px 20px;
    border-bottom: 1px solid black;
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
}
