header {
  border: 1px solid black; /* удалить */
  display: inline-flex;
  align-items: center;
  position: fixed;
 /*  z-index: 1; */   /* удалить */
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav {
  border: 1px solid black; /* удалить */
}

.logo {
  border: 1px solid black; /* удалить */
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;

}

.logo span {
  color: MediumAquamarine;
}
