header {  /* in header part 1 */
  border-bottom: 1px solid black;
  display: inline-flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav span { /* in header part 1 */
    display: inline-block;
    padding: 20px 10px;
}

header nav { /* in header part 1 */
    padding-right: 40px;
}

.logo { /* in header part 1 */
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span { /* in header part 1 */
  color: MediumAquamarine;
}

header nav span a { /* in header part 1 */
    color: black;
}

.main-content { /* for main-content */
  display: flex;
  border-bottom: 1px solid black; /*delete */
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column { /* for main-content */
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large { /* for main-content */
  border: 1px solid black; /*delete */
  width: 630px;
}

.column.medium { /* for main-content */
  border: 1px solid black; /*delete */
  width: 300px;
}

.column.small { /* for main-content */
  border: 1px solid black; /*delete */
  width: 240px;
}

.main-content div { /* for main-content */
  border: 1px solid black; /*delete */
}
