header {  /* in header part 1 */
  border-bottom: 1px solid black;
  display: inline-flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
}

nav span { /* in header part 1 */
    display: inline-block;
    padding: 20px 10px;
}

header nav { /* in header part 1 */
    padding-right: 40px;
}

.logo { /* in header part 1 */
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
/*  border: 1px solid black; /*delete*/
}

.logo span { /* in header part 1 */
  color: MediumAquamarine;
}

header nav span a { /* in header part 1 */
    color: black;
}

.main-content { /* for main-content */
  display: flex;
  border-bottom: 1px solid black; /*delete */
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

.column { /* for main-content */
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large { /* for main-content */
/*  border: 1px solid black; /*delete */
  width: 630px;
}

.column.medium { /* for main-content */
/*  border: 1px solid black; /*delete */
  width: 300px;
}

.column.small { /* for main-content */
  /* border: 1px solid black; /*delete */
  width: 240px;
}

.main-content div { /* for main-content */
  /* border: 1px solid black; /*delete */
}

.image-content { /* for img comtaner */
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  color: white;
  font-size: 30px;
  text-align: center;
}

.lead-story .image-content { /* large > "Mother of Three Buys Tuna Steak at Phish Concert. Leaves, "Feeling Funny." img */
  background-image: url(../images/img-story-main.png);
  font-size: 40px;
  text-align: left;
}

.fall-cancelled.image-content { /* large > "Earth Spins Backwards for 2017" img */
  background-image: url(../images/img-story-2.png);
}

.pop-culture.image-content { /* large > "Research Shows Cameras Erase Memory" img */
  background-image: url(../images/img-story-3.png);
}

.cat-ceo.image-content { /* madium > "Cats in Control-Is It a Thing?" */
        background-image: url(../images/img-story-1.png);
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
}


.stories .text-content {
    height: 250px;
}
